pipeline/PL_SNF_STG.json
{
	"name": "PL_SNF_STG",
	"properties": {
		"activities": [
			{
				"name": "parquet_2_snf",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "tsv_2_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "ID_JOB_ID",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "ID_LOAD_DATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE STG.PET_LICENSE_STAGE",
							"type": "Expression"
						},
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage002_LS",
							"type": "LinkedServiceReference"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "snf_ds",
						"type": "DatasetReference",
						"parameters": {
							"schema": "STG",
							"tablename": "PET_LICENSE_STAGE"
						}
					}
				]
			},
			{
				"name": "tsv_2_parquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": true,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText_petLic_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"myFileName": {
				"type": "String",
				"defaultValue": "pet_lic.parquet"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-07T03:21:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}